.avatar_display {
  width: 160px;
  height: 160px;
  image-rendering: pixelated;
}

.center-partition {
  margin: 50px;
  text-align: center;
}

.container {
  margin: auto;
}

.puzzle_box {
  margin: auto;
}
