.avatar_display {
  width: 160px;
  height: 160px;
  image-rendering: pixelated;
}

.center-partition {
  min-width:150px;
  margin: 10px;
  text-align: center;
}

.conflicts-container {
  margin: auto;
  max-width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;

}

.conflict-inner {
  justify-content: space-between;
  margin-top: 5%;
  width: 100%;
}

html, body {
  height: 100vh;
}

.puzzle_box {
  margin: auto;
}

.conflict_box_bottom {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.conflict_box_top {
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
}

.card, .level-filter-horizontal {
  margin: 6px;
  width: 128px;
  display: inline;
}

.games {
  padding: 20px;
}

.pixels {
  image-rendering: pixelated;
}

.BIG {
  width: 150px;
  height: 60px;
  margin:20px;
}
