@import "home";
@import "kanji";
@import "show";
@import "practice";
@import "conflict";

a {
  outline: none;
  text-decoration: none; /* Optional: Remove underline from links */
}

.card-link {
  display: block; /* Ensure the link covers the entire card */
  color: inherit; /* Inherit text color from parent */
}
