.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  padding: 20px;
  justify-content: space-between;
}

.left-side {
  flex: 0;
  display: none;
  background-color: #f0f0f0;
  padding: 20px;
  padding-right: 20px;
  transition: flex 0.5s ease-in-out;
}

.right-side {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  transition: flex 0.5s ease-in-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
  overflow-y: auto;
  max-height: 500px;
  width: 100%;
}

.card {
  background: #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 3px 3px 0px #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  min-width: 200px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #bbb;
    transform: scale(1.05);
  }

  &.active {
    background: #6abe30;
    color: white;
  }
}

.stars {
  font-size: 24px;
}

.level {
  background: #6abe30;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
}

.question-mark {
  font-size: 32px;
  margin-top: 10px;
}

.label {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.play-button-right {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

  &:hover {
    background: #bbb;
    transform: scale(1.05);
  }

  &:disabled {
    background: #aaa;
    cursor: not-allowed;
  }
}

.white-box-for {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 75%;
}
