
.puzzle-header {
  display: flex;
  //justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 20px;

}

.text-large {
  font-size: 32px;
}

.puzzle-header h1 {
  font-family: Chicago, "Press Start 2P", monospace;
  font-size: 24px;
}

.kanji-data, .highscores {
  width: 100%;
  height: 80vh;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  background: #ddd;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px;
  transition: background 0.1s ease-in-out;
  margin: 10px;
  gap: 5px;
  box-shadow: 3px 3px 0px #000;
  transform: scaleX(0);
  transition: all .5s ease-in-out;
}

.right-side {
  display: flex;
  flex-direction: column; /* Ensure the children are stacked vertically */
  justify-content: center; /* Center the children vertically */
  align-items: center;
  height: 100vh; /* Ensure the parent container takes up the full height */
  width: 100%;
}

.kanji-data {
  transform-origin: left;
}

.highscores {
  transform-origin: right;
}

.list {
  display: inline-block;
  list-style-type: none;
  justify-content: space-between;
}

.right-align {
  justify-content: end;
}

.puzzle-hints {
  background-color:rgb(208, 224, 192);
  display: flex;
  height: 900px;
  width: 500px;
  margin-left: 20px;
  border-radius: 10px;
}
.puzzle-hints h2 {
  font-family: Chicago, "Press Start 2P", monospace;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.puzzle-hints h1 {
  font-size: 70px;
}
.spacer {
  height: 125px;
  width: 350px;
}

.puzzle-window {
  display: flex;
  height: 550px;
  width: 550px;
  justify-content: center;
  align-items: center;
}

.puzzle-window h2 {
  font-family: Chicago, "Press Start 2P", monospace;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.background-div {
  padding: 0;
}

.cell {
  width: 25px;
  height: 25px;
  transition: border 1s ease;
  background-color: rgba(220, 220, 220, 0.5);
  border-right: 1px rgb(103, 103, 103) solid;
  border-bottom: 1px rgb(103, 103, 103) solid;
  padding: 0;
}

.row {
  border: none;
  width: fit-content;
  transition: border 1s ease;
  transition: background-color 1s ease;
}

.col0, .col4, .col8, .col12 {
  border-left: 1px black solid;
}

.row0, .row4, .row8, .row12 {
  border-top: 1px black solid;
}

.row15 {
  border-bottom: 1px black solid;
}

.col15 {
  border-right: 1px black solid;
}

.selected {
  background-color: black;
}

.flagged {
  background-color: rgb(200, 200, 200);
}

.xGuide {
  width: 25px;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px grey solid;
  font-size: x-small;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  transition: all 1s ease;
  user-select: none;
}

.yGuide {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px grey solid;
  font-size: x-small;
  padding: 0;
  text-align: right;
  padding-right: 1px;
  transition: all 1s ease;
  user-select: none;
}

.cornerBlock {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding: 0;
  font-size: x-small;
  transition: color 1s ease;
}

.finished {
  border: 1px transparent solid;
}

.cleared {
  border: 1px transparent solid;
  background-color: transparent;
  color: transparent;
}

.startButton {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  margin: 100px 200px;
  cursor: pointer;
}

.puzzle {
  width: 100%;
  height: 80%;
  margin: auto;
}

.hidden {
  display: none;
}

.expanded {
  transform: scaleY(1);
  transform: scaleX(1);
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.main-container > * {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

.ask-wrondarou-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 15%;
  margin: auto;
}

.gif-container-bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the GIF vertically */
  position: fixed;
  bottom: -87px;
  width: 100%; /* Ensure it takes full width */
  height: 250px; /* Adjust height if needed */
  overflow: hidden; /* Prevents scrollbars */
}

.game-gif-bottom {
  width: 250px;
  height: auto;
  image-rendering: pixelated;
  position: absolute;
  animation: walkAnimation 10s linear infinite alternate;
}

.button_box {
  width: 100%;
  text-align: center;
}

@keyframes walkAnimation {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 250px);
  }
}
}
