<div class="game-container">
  <div class="mode-selection">
    <h1 class="status-text">WROND!</h1>

    <form action="/kanji/index" method="get">
      <div class="mode-options">
        <button class="mode-box">
          <div class="white-box">
            <span class="kanji-text">漢字</span>
          </div>
          <p class="mode-label">KANJI MODE</p>
        </button>
    </form>

    <form action="/kanji/index" method="get">
        <button class="mode-box">
          <div class="white-box">
            <span class="kanji-text">物語</span>
          </div>
          <p class="mode-label">STORY MODE</p>
        </button>
      </div>
    </form>

    <p class="mode-description">
      Kanji mode allows you to practice individual kanji.<br>
      The classic mode!<br><br>
      Choose a mode!
    </p>
    <button class="play-button">Play!</button>
  </div>
</div>
