<div class="game-container" data-controller="home">
  <div class="mode-selection">
    <form action="/kanji/index" method="get">
      <div class="mode-options">
        <button type="button" class="mode-box" data-mode="kanji" data-action="click->home#selectMode" data-home-target="modeBox">
          <div class="white-box">
            <span class="kanji-text">漢字</span>
          </div>
          <p class="mode-label">KANJI MODE</p>
        </button>

        <button type="button" class="mode-box" data-mode="story" data-action="click->home#selectMode" data-home-target="modeBox">
          <div class="white-box">
            <span class="kanji-text">物語</span>
          </div>
          <p class="mode-label">STORY MODE</p>
        </button>
      </div>
    </form>

    <p class="mode-description" id="mode-description" data-home-target="modeDescription">
      Choose a mode!
      <br>
      <br>
    </p>

    <form action="/kanji/index" method="get">
      <input type="hidden" name="mode" id="selected-mode" value="" data-home-target="selectedMode">
      <button type="submit" class="play-button" id="play-btn" disabled data-home-target="playButton">Play!</button>
    </form>
  </div>
</div>
