<body data-controller="kanji">
  <%= yield %>
</body>

<div class="floating-kanji-container">
  <span class="floating-kanji" data-kanji-target="floatingKanji">日</span>
  <span class="floating-kanji" data-kanji-target="floatingKanji">本</span>
  <span class="floating-kanji" data-kanji-target="floatingKanji">語</span>
  <span class="floating-kanji" data-kanji-target="floatingKanji">学</span>
  <span class="floating-kanji" data-kanji-target="floatingKanji">習</span>
</div>

<div class="game-container">
  <div class="mode-selection">
    <form action="/kanji/index" method="get">
      <div class="mode-options">
        <button type="button" class="mode-box" data-kanji-target="modeBox" data-mode="kanji">
          <div class="white-box">
            <span class="kanji-text">漢字</span>
          </div>
          <p class="mode-label">KANJI MODE</p>
        </button>

        <button type="button" class="mode-box" data-kanji-target="modeBox" data-mode="story">
          <div class="white-box">
            <span class="kanji-text">物語</span>
          </div>
          <p class="mode-label">STORY MODE</p>
        </button>
      </div>
    </form>

    <p class="mode-description" id="mode-description" data-kanji-target="modeDescription">
      Choose a mode!
      <br><br>
    </p>

    <form action="/kanji/index" method="get">
      <input type="hidden" name="mode" id="selected-mode" data-kanji-target="selectedMode" value="">
      <button type="submit" class="play-button" id="play-btn" data-kanji-target="playButton" disabled>Play!</button>
    </form>
  </div>
</div>

<div class="gif-container">
  <%= image_tag "learnkanji.GIF", class: "game-gif" %>
</div>
