<% kanji_cards.each do |card| %>
  <div class="card">
    <div class="stars">
      <% card[:stars].times do %>
        star
      <% end %>
      <% (5 - card[:stars]).times do %>
        empty star
      <% end %>
    </div>
    <div class="level">level</div>
    <div class="question-mark">?</div>
    <div class="label">Kanji No. <%= card[:number] %></div>
  </div>
<% end %>



<button class="play-button">Play!</button>
