<div class="main-container">
  <div class="left-side">
    <p>Random paragraph 1</p>
    <p>Random paragraph 2</p>
    <p>Random paragraph 3</p>
    <p>Random paragraph 4</p>
  </div>

  <div class="right-side">
    <div class="card-container">
        <div class="card">
          <div class="stars">
            ★★★☆☆
          </div>
        <div class="level">N5</div>
        <div class="white-box-for">
        <div class="question-mark"><p><%= @kanji.kanji %></p></div>
        </div>
      <div class="label">Kanji No. </div>
      </div>
</div>

    <button class="play-button-right">Play!</button>
  </div>
</div>
