<h1>Puzzle number ___ </h1>

<div class="puzzle" id="puzzle" data-controller="puzzle" data-puzzle-target="rootDiv" data-puzzle-variable=<%=@kanji.puzzleInfo.to_json%>>
  This is where the magic (puzzle) happens
  </div>
</div>
