<h1 class="puzzle-header">Puzzle number ___ </h1>

<div class="puzzle-col d-flex">
  <div class="puzzle-hints">
    <h2>Puzzle Hints</h2>
    <div>

    </div>
  </div>

  <div class="puzzle-window">
    <div class="puzzle" id="puzzle" data-controller="puzzle" data-puzzle-target="rootDiv" data-puzzle-variable=<%=@kanji.puzzleInfo.to_json%>>
      This is where the magic (puzzle) happens
    </div>
  </div>
</div>