.navbar-lewagon {
  background: #c0c0c0;
  border-bottom: 2px solid black;
  font-family: "Chicago", "Press Start 2P", monospace;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-lewagon .avatar-container {
  display: flex;
  justify-content: center; /* Center the avatar horizontally */
  flex-grow: 1;
  padding-top: 1px;
}

.navbar-lewagon .avatar {
  display: flex;
  height: 31px;
  width: 31px;
  border-radius: 0;
  outline: rgb(10, 218, 10) solid;
  padding-top: 1px;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: 230px;
}
.navbar-lewagon .navbar-brand img {
  display: flex;
  width: 120px;
}
