<h2>Pick 5 Kanjis to Practice</h2>

<div class="main-container">
  <div class="left-side"></div>

  <div class="right-side">
    <div class="card-container">
      <% @unlocked_kanji.each do |kanji| %>
        <span class="card kanji-character"
              data-kanji-target="kanji"
              data-kanji="<%= kanji %>">
          <%= kanji %>
        </span>
      <% end %>
    </div>
  </div>
</div>
