<div class="p2-puzzle-window">
    <div class="p2-puzzle"
    id="p2-puzzle"
    data-controller="p2_puzzle"
    data-p2_puzzle-target="p2RootDiv"
    data-p2_puzzle-variable=<%=conflict.kanji.puzzleInfo.to_json%>
    data-p2_puzzle-p2data=<%=conflict.u2_state%>
    data-p2_puzzle-status=<%=conflict.status%>>
    </div>
  </div>
