.Grey_Squares {
  background-color: rgba($color: #999999, $alpha: 0.2);
}


.Red_Squares {
  background-color: rgba($color: #ff0000, $alpha: 0.2);
}

.Orange_Squares {
  background-color: rgba($color: #ffaa00, $alpha: 0.2);
}

.Yellow_Squares {
  background-color: rgba($color: #ddff00, $alpha: 0.2);
}

.Green_Squares {
  background-color: rgba($color: #00ff80, $alpha: 0.2);
}

.Blue_Squares {
  background-color: rgba($color: #2b00ff, $alpha: 0.2);
}
