.flagged.Grey_Squares {
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;

}

.flagged.Red_Squares {
  background-color: rgb(255, 0, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.flagged.Orange_Squares {
  background-color: rgb(255, 128, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.flagged.Yellow_Squares {
  background-color: rgb(225, 255, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.flagged.Green_Squares {
  background-color: rgb(0, 201, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.flagged.Blue_Squares {
  background-color: rgb(46, 171, 255);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.col0.flagged.WROND\!_Squares,
.col1.flagged.WROND\!_Squares {
  background-color: rgb(255, 0, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
.col2.flagged.WROND\!_Squares,
.col3.flagged.WROND\!_Squares,
.col4.flagged.WROND\!_Squares {
  background-color: rgb(255, 128, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
.col5.flagged.WROND\!_Squares,
.col6.flagged.WROND\!_Squares,
.col7.flagged.WROND\!_Squares {
  background-color: rgb(225, 255, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
.col8.flagged.WROND\!_Squares,
.col9.flagged.WROND\!_Squares,
.col10.flagged.WROND\!_Squares {
  background-color: rgb(0, 201, 0);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
.col11.flagged.WROND\!_Squares,
.col12.flagged.WROND\!_Squares,
.col13.flagged.WROND\!_Squares {
  background-color: rgb(46, 171, 255);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
.col14.flagged.WROND\!_Squares,
.col15.flagged.WROND\!_Squares {
  background-color: rgb(170, 0, 255);
  background-image: image_url("cross.png");
  background-repeat:no-repeat;
  background-position: center center;
}
